.title{
    font-size: 80px;
    cursor: pointer;
}

.button{
    cursor: pointer;
    font-size: 20px;
}

.video{
    width: 100%;
}

label{
    font-size: 19px;
}

.replay{
    width: 40%;
    height: 60px;
    font-size: 30px;
}

.rushaikon{
    width: 20%;
}

/* 虹色 */
.rainbow{
    background : linear-gradient(0deg, 
    red,
    orange,
    yellow,
    green,
    aqua,
    blue,
    purple);
}